<div class="row">
  <div class="col-3 offset-4">
    <div class="mb-3">
      <select class="form-control" (change)="getProductsWithCategory()" [(ngModel)]="category">
        <option>men's clothing</option>
        <option>jewelery</option>
      </select>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-3 my-3" *ngFor="let product of products">
    <div class="card" style="width: 18rem;">
      <img [src]="product.image" class="card-img-top" height="100px" [alt]="product.title">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description | sliceProduct}}...</p>
        <p class="h4">{{product.price}}</p>
        <span class="btn btn-success text-white" (click)="addToCart(product)">Add to Cart</span>
        <span class="btn btn-warning text-white" (click)="addToFavourite(product)">Add to Favourite</span>
      </div>
    </div>
  </div>
</div>
